.cemetery-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -33rem;
}

.cemetery-title {
    font-weight: 700;
} 

.cemetery {
    height: 300px;
    width: 300px;
    border: 5px solid black;
    margin: 10px 0;
}

.cemetery-description {
    margin-right: -5rem;
}

 @media screen and (max-width: 767px) {
    .cemetery-container {
        margin-top: 0;
        align-items: flex-start;
    }

    .cemetery-description {
        margin-right: 0;
    }

 }

 @media screen and (min-width:768px) and (max-width: 1399px) {
    .cemetery-container {
        margin-top: -34.7rem;
    }
   
 }