.parlament-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -520px;
}

.parlament-title {
    font-weight: 700;
} 

.parlament {
    height: 300px;
    width: 400px;
    border: 5px solid black;
    margin: 10px 0;
}

.parlament-horizontal {
    display: none;
}

@media screen and (max-width: 767px) {
    .parlament {
        width: 300px;
        margin-bottom: 20px;
    }

    .parlament-container {
        margin-top: 0;
        align-items: flex-start;
    }

    
    .parlament-horizontal {
       display: block;
    }


} 