.peles-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -33rem;
}

.peles-castel {
    border: 5px solid black;
    height: 300px;
    width: 400px;
    margin: 10px 0;
}

.title-peles {
    font-weight: 700;
}


.peles-horizontal {
    display: none;
}

  @media screen and (max-width: 767px) {
    .peles-castel {
        width: 300px;
        justify-content: center;
    }

    .peles-container{
      margin-top: 0;
      align-items: flex-start; 
    }

    .peles-horizontal {
        display: block;
    }

  }