 .transf-title, .transf {
    display: flex;
    flex-direction: column;
} 

.transf-title {
  font-weight: 700;
}

 .transf {
   height: 300px;
   width: 300px;
   border: 4px solid black;
   margin: 10px 0;
} 

.transfagarasan-horizont-top {
  display: none;
}

@media screen and (max-width: 767px) {
  .transfagarasan-horizont-top {
     display: block;
  }

}